.css-1ygcj2i-MuiTableCell-root {
    text-align: left !important;
}.dodaj-nova1{
    height: 60px;
    background-color: lightgrey;
    display: flex;
  
    font-size: small;
    font-family: sans-serif;
    padding: 10px;
 
 }