.nazad-na-listata{
    width:140px;
    height: 30px;
      color: white;
      border: none;
      border-radius: 2px;
  color: white;
  position: absolute;
  right: 100px;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  background-color: rgb(70, 70, 162);
  
  }